{{> postdata post}}
{{> comments post.comments}}

{{#if logged_in}}
<form class="comment-form">
    <div>
        <textarea name="comment-text"></textarea>
    </div>

    <div>
        <button type="submit" class="btn btn-primary">Add a Comment</button>
    </div>
</form>
{{/if}}

{{#if logged_in}}
<script src="/js/comment.js"></script>
{{/if}}