<h4>Sign up!</h4>
<form class="signup-form">
  <div>
    <label for="name-signup">Name:</label>
    <input type="text" id="name-signup" />
  </div>
    <div>
    <label for="email-signup">Email:</label>
    <input type="text" id="email-signup" />
  </div>
  <div>
    <label for="password-signup">Password:</label>
    <input type="password" id="password-signup" />
  </div>
  <div>
    <button type="btn submit">Sign Up</button>
  </div>
</form>
<br>
<a href="/login">Already have an account, Log In!</a>

<script src="/js/signup.js"></script>